/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEF_L 0
#define NAV_L 1
#define NUM_L 2
#define SYM_L 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace
&lt { quick-tap-ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_z {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp Z>;
        };
        combo_b {
            timeout-ms = <50>;
            key-positions = <21 22>;
            bindings = <&kp B>;
        };

        combo_y {
            timeout-ms = <50>;
            key-positions = <23 24>;
            bindings = <&kp Y>;
        };

        combo_slash {
            timeout-ms = <50>;
            key-positions = <24 25>;
            bindings = <&kp SLASH>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp N7  &kp N8   &kp N9   &kp BSPC
                &kp N4  &kp N5   &kp N6   &kp MINUS
                &kp N1  &kp N2   &kp N3   &kp PLUS
                &kp N0  &kp DOT  &kp TAB  &kp RET
            >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
                &trans     &trans     &trans      &trans
                &trans     &trans     &trans      &trans
                &trans     &trans     &trans      &trans
                &trans     &trans     &trans      &trans
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
                &kp LBKT   &kp N7     &kp N8      &kp N9          &kp RBKT      &trans          &trans         &trans      &trans     &trans
                &kp SEMI   &kp N4     &kp N5      &kp N6          &kp EQUAL     &trans          &trans         &trans      &trans     &trans
                           &kp N1     &kp N2      &kp N3                                        &trans         &trans      &trans
                                                  &kp N0          &kp MINUS     &trans          &trans
            >;
        };

        sym_layer {
            display-name = "Sym";
            bindings = <
                &kp LBRC   &kp LS(N7) &kp LS(N8)  &kp LS(N9)      &kp RBRC      &trans          &trans         &trans      &trans     &trans
                &kp COLON  &kp LS(N4) &kp LS(N5)  &kp LS(N6)      &kp PLUS      &trans          &trans         &trans      &trans     &trans
                           &kp LS(N1) &kp LS(N2)  &kp LS(N3)                                    &trans         &trans      &trans
                                                  &kp LS(N0)      &kp UNDER     &trans          &trans
            >;
        };
    };
};
